<div class="bg-img">
    <div class="overlay">
        <div class="container">
            <h1>Book a city taxi to your destination in town</h1>
            <div class="card mt-5" style="width: 400px">
                <h3><a href="#">City Taxi</a></h3>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter Current Location" />
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control"  placeholder="Enter Destination Location" />
                    </div>
                    <div class="input-group mb-3">
                        <select id="choseDate" class="mb-3">
                            <option value="Today" selected>Today</option>
                            <option value="Tm">Schedule for later</option>
                            <!-- <option value="Tm" (click)="toggleShedule()">Schedule for later</option> -->
                        </select>

                        <div class="toggle-with ">
                        <!-- <div class="toggle-with " *ngIf="showMe"> -->
                            <select name="Schedule" class="sh-width">
                                <option value="Tomorrow">Tomorrom</option>
                                <option value="Tomorrow">next</option>
                                <option value="Tomorrow">next</option>
                            </select>
                            <select name="Schedule" class="sh-width">
                                <option value="Time">10.30</option>
                                <option value="Time">10.30</option>
                                <option value="Time">10.30</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Search!!</button>

                </div>
            </div>
        </div>
    </div>
</div>

<table border="1">
    <tr>
      <td>id</td>
      <td>name</td>
      <td>email</td>
      <td>phone</td>
      <td>password</td>
      <td>cnfpassword</td>
    </tr>
    <tr *ngFor="let item of userData; let i=index">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.password}}</td>
      <td>{{item.cnfpassword}}</td>
      <td><i class="fa fa-trash" style="font-size:20px;color:red;"></i></td>
    </tr>
  </table>